<div>
    <div>
        <h2 class="card-header text-center">{{ title }}</h2>
    </div>

    <div class="card-body">

        <ul *ngFor="let u of users" class="list-group-item">
            <!-- the "heroes" part of our *ngFor directive represents the heores array in our .ts file.
                 the "h" represents each individual object within the array -->

            <li class=list-group-item>Id : {{ u.id }} </li>
            <li class=list-group-item>First Name: {{ u.firstName }} </li>
            <li class=list-group-item>Last Name: {{ u.lastName }}</li>
            <li class=list-group-item>Username: {{ u.username}}</li>

            <!-- Add after Pokemon Impl -->
            <div *ngIf="u.pokemon.length == 0; else noPokemon"></div>
              <ul *ngFor="let p of u.pokemon" class="list-group-item">
                <li class=list-group-item>Id : {{ p.id }} </li>
                <li class=list-group-item>Name: {{ u.firstName }} </li>
                <img src={{ p.spite }} />
              </ul>
            </ul>

            <ng-template #noPokemon>
              Content to render when condition is false.
            </ng-template>



        <div>
            <button class="btn btn-primary btn-center" (click)="findAllUsersFromService()">Fetch Users!</button>
        </div>

        <div *ngIf="users.length == 0">
            {{ clientMessage.message }}
        </div>

    </div>
</div>
